@font-face {
    font-family: 'Karla';
    src: url('Karla-Regular') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url('Karla-Bold') format('truetype');
    font-weight: bold;
    font-style: normal;
}